@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Thai:wght@900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@900&family=Varela+Round&display=swap%27');
span{
    color: #673b0f;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Kanit', sans-serif;
}
p{
    font-size: 15px;
    color: #666;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Kanit', sans-serif;
}
#collapseOne{
    margin-top: 2%;
    margin-left: 5%;
}
.headL{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.text-head{
    font-size: 35px;
    font-weight: 900;
    color: #673B0F;
}
.banner{
    width: 100%;
}
.head-left-text{
    background-color: #E10F21;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
}
.head-right-text{
    background-color: #673B0F;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
}
/* .details{
    height: 700px;
} */
.details-left, .details-right{
    padding: 0;
}

.details-left p, .details-right p{
    margin-bottom: 0;
}
#icon-drop-top,#icon-drop-down{
    width: 16px;
    background-color: white;
    filter: invert(100%);
    border-radius: 50%;
    margin: 3px;
    padding: 4px;
}
.card-header{
    background-color: transparent;
    border: transparent;
}