@font-face {
    font-family: 'DB HelvethaicaMon X Bd Cond';
    src: url('DB HelvethaicaMon X Bd Cond.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'DB HelvethaicaMon X';
    src: url('DB HelvethaicaMon X.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'DB HelvethaicaMon X Bd';
    src: url('DB HelvethaicaMon X Bd.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'DB HelvethaicaMon X Blk';
    src: url('DB HelvethaicaMon X Blk.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'DB HelvethaicaMon X Med';
    src: url('DB HelvethaicaMon X Med.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB HelvethaicaMon X Med Cond';
    src: url('DB HelvethaicaMon X Med Cond.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.pro-red {
    display: block;
    margin-top: 40px;
}

.img-menu{
    width: 115%;
    padding: 0;
}

.container1 {
    justify-content: center;
    text-align: center;
}

.conta1{
    justify-content: center;
    text-align: center;
    position: relative;
}
.col-9{
    padding: 0px;
    margin-right: -5px;
    display: inline-flex;
}

.lineh {
    font-family: 'DB HelvethaicaMon X Bd Cond' !important; 
    line-height: 0px;
    color: #dd343c; 
    margin-bottom: 12px; 
}

.lineh2 {
    font-family: 'DB HelvethaicaMon X' !important; 
    font-size: 20px;
    line-height: -10px;
    color: #663319;
    text-transform: uppercase;
    line-height: 20px;
}
.lineh3{
    font-family: 'DB HelvethaicaMon X Med Cond' !important; 
    line-height: 0px;
    color: #dd343c; 
    margin-bottom: 12px; 
    font-size: 36px;
}

.lineh2 , .lineh{
    margin-top: 30px;
    margin-right: -20px;
}
.font-update{
    font-family: 'DB HelvethaicaMon X Bd Cond' !important; 
    color: #dd343c;
    margin-top: 20px;
    margin-bottom: -5px;
} 
.update {
    margin-top: 90px;
    color: #dd343c;
    letter-spacing: -1px;
}

.img-circle{
    opacity:1;
    border-radius: 50%;
    width:272px;
    align-items: center;
}

.hover-img1:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.update-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.linehover{
    position: relative;
    width: 60px;
    left: 100px;
    opacity: 0.8;
}

.colorline{
    color: rgb(153, 153, 153);
}

.dist1{
    margin-top: -10px !important; 
}

.font-update1{
    font-family: 'DB HelvethaicaMon X Med' !important;
    font-size: 22px;
    line-height: -10px;
    color: #999;
    line-height: 20px;
}

.border-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bgvio{
    margin-top: 15vh;
}

.allvdo{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.parallax {
    background-color: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nobottommargin {
    margin-bottom: 0 !important;
}

.tad{
    position: absolute; 
    left:-80px; 
    top:-90px; 
    opacity: 0; 
    width: 190%;
}


.main-popup{
    opacity: -10;
    z-index: -20;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    position: fixed;
    float: none !important;
    overflow: auto;
    top: 0;
}

.popup1-1{
    max-width: 500px;
    margin-right: 470px;
}

.popup1-2{
    top: 0vh;
    padding: 49px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    max-width: 500px;
    background-color: white;
    text-align: center !important;
}

.button-close-popup{
    display: inline-block;
    right: 0;
    left: 455px;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #dd343c;
    color: #FFF;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    transition: all .2s ease-in-out;
}

.button-close-popup:hover{
    background-color: #603913;
}

.img-popup{
    max-width: 100%;
    margin-bottom: 30px;
}

.txt-brow {
    font-family: 'DB HelvethaicaMon X Med Cond' !important; 
    font-size: 24px;
    line-height: -10px;
    color: #663319;
    line-height: 20px;
}
 
.txt-red{
    font-family: 'DB HelvethaicaMon X Med Cond' !important; 
    line-height: 0px;
    color: #dd343c; 
    margin-bottom: 12px; 
    font-size: 36px;
}

.txt-brow , .txt-red{
    margin-top: 20px;
}

.txt-small{
    font-family: 'DB HelvethaicaMon X' !important;
    font-size: 22px;
    color: #999;
    line-height: 22px;
    margin-top: 15px;
    padding-top: 13px;
    padding-bottom: 13px;

} 

.up-popup1{
    max-width: 700px;
    margin-right: 650px;
}

.up-popup2{
    max-width: 700px;
    text-align: start !important;
    
}

.uptxt-red{
    margin-top: 25px;
    line-height: 0px;
    color: #dd343c; 
    margin-bottom: 10px; 
    font-size: 30px;
    font-family: 'DB HelvethaicaMon X Bd Cond' !important; 
}

.uptxt-small{
    font-family: 'DB HelvethaicaMon X' !important;
    font-size: 20px;
    color: #999;
    line-height: 20px;
    margin-top: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
}
